* {
  margin: 0%;
  padding: 0%;
}

.card {
  border: 1px solid black;
  display: block;
  background-color: aqua;
  height: 500px;
}
.box {
  display: inline-block;
  background-color: rgb(7, 235, 159);
  position: sticky;
  height: 250px;
}
.box1 {
  height: 250px;
  display: inline-block;
  background-color: rgb(7, 235, 159);
  border: 1px solid black;
}
footer {
  position: sticky;
}
